* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color:#217edc;
  }
  .stopwatch{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-family:fantasy;
  }
  .container {
    background-color: #f0f9ff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: min(90%, 31.25em);
    padding: 3.75em 0;
    border-radius: 0.8em;
    box-shadow: 0 0.5em 1em rgba(53, 28, 56, 0.964);
  }
  .timer-display {
    position: relative;
    width: 110%;
    background-color: #6094d1;
    left: -5%;
    padding: 1em 0;
    font-family: "Roboto Mono", monospace;
    color: #fac0ff;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.3em;
    box-shadow: 0 0.5em 1em rgba(53, 28, 56, 0.964);
  }
  .buttons {
    width: 80%;
    margin: 3.8em auto 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .buttons button {
    font-size: 1.12em;
    background-color:#6084d1;
    color: black;
    border: none;
    font-family: fantasy;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0.5em 1em rgba(53, 28, 56, 0.964);
  }
  
  .buttons button:hover{
    background-color: #385882;
    color: aliceblue;
  }
  #start-timer {
    background-color:#6084d1;
    color: black;
    font-weight: 200px;
    font-family: fantasy;
    box-shadow: 0 0.5em 1em rgba(53, 28, 56, 0.964);
  }
  #start-timer:hover{
    background-color: #6084d1;
    color: aliceblue;
  }